.title{
    text-align: center;
    margin: 70px 0 30px;
}
.title p{
    font-size: 16px;
    color: black;
    opacity: .8;
    text-transform: uppercase;
}
.title h2{
    font-size: 32px;
    font-weight: 600;
}