
@media (max-width: 800px){
    .about{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .about .about-right-section h2{
        font-size: 30px;
    }
    .about .about-right-section p{
        font-size: 16px;
        text-align: justify;
    }
}