@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Bengali', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-right: 10%;
    padding-left: 10%;
}

.btn{
    border: none;
    background-color: #ff7a05;
    color: white;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 28px;
}